/** Begin Activity **/
.Activity-map{
    display: none;
    clear: both;
}

@media(min-width: 768px) {
  .Activity-map{
    width: 50%;
    vertical-align: top;
    height: 691px;
    display: inline-block;
    float: right;
  }
}
/** End Activitiy **/