/** Begin App **/
.App {
  border: 5px solid rgb(235, 59, 52);
}
/** End App **/

/** Begin Header **/
.Header {
  background-color: rgb(34, 31, 42);
  padding: 28px 23px 18px 25px;
}

.Header-logo {
  width: 150px;
}
/** End Header **/

/** Begin Footer **/
.Footer {
  text-align: center;
  font-size: 14px;
  color: rgb(255, 255, 255);
}
/** End Footer **/